<div class="container">
    <div class="panel panel-default">
        <h1 class="panel-body text-center pt-5 pb-4"><%= @show[:name].upcase %></h1>
    </div>
</div>

<div class="container show-overview mt-3">
    <h2 class="text-center pt-3 pb-3">Synopsis</h2>
    <p class="text-center lead mb-0"><%= @show[:overview]%></p>
</div>

<section class="features-icons bg-light text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-user m-auto text-primary"></i>
                    </div>
                    <h3>Created By</h3>
                    <p class="lead mb-0"><% creator = @show[:created_by]%><%= creator[0].values[1]%></p>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-info m-auto text-primary"></i>
                    </div>
                    <h3>Genre</h3>
                    <p class="lead mb-0"><% genre = @show[:genres]%><%= genre[0].values[1] %></p>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-grid m-auto text-primary"></i>
                    </div>
                    <h3>Number of Seasons</h3>
                    <p class="lead mb-0"><%= @show[:number_of_seasons]%></p>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Number of Episodes</h3>
                    <p class="lead mb-0"><%= @show[:number_of_episodes]%></p>
                </div>
            </div>
        </div>
    </div>
</section>